@use "../helpers" as *;

.divide-list {
  padding-block: fluid(60, 80);

  &__container {
    max-width: rem(1240);
    margin-inline: auto;
    padding-inline: rem(20);
  }

  &__title {
    color: #0f0f0f;
    text-align: center;
    font-size: fluid(28, 44);
    font-weight: 700;
    line-height: 1;
    margin-bottom: fluid(24, 40);
  }

  &__body {
    position: relative;
    background-color: #edf7fd;
  }
  &__image {
    position: absolute;
    height: 100% !important;
    right: 0;
    top: 0;

    @include medium {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, rgba(237, 247, 253, 1) 0%, rgba(2, 11, 44, 0) 100%);
    }

    img {
      width: 100%;
      height: 100% !important;
      object-fit: cover;
    }
  }

  &__items {
    position: relative;
    z-index: 2;
  }

  &__item {
    padding: fluid(18, 40);
    &:not(:last-child) {
      border-bottom: rem(4) solid #fff;
    }
    &-inner {
      max-width: 48.7%;

      @include medium {
        max-width: 100%;
      }
    }
  }

  &__item-content {
    color: #252525;
    font-size: rem(16);
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    line-height: 1.3;

    h3 {
      color: #0f0f0f;
      font-size: fluid(20, 32) !important;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 1rem;
    }

    ul {
      li {
        list-style: disc outside;
        margin-left: rem(26);

        &::marker {
          font-size: rem(12);
        }

        &:not(:last-child) {
          margin-bottom: rem(8);
        }
      }
    }
  }
}
