@use "../helpers" as *;

.grid-cards {
  padding-block: fluid(60, 80);

  &--show {
    .grid-card {
      height: auto;
    }

    .grid-card__body {
      height: auto;
    }

    .grid-card__image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .grid-card__content {
      height: auto;
      padding: rem(16) 0 0 0;
      opacity: 1;
      visibility: visible;
      display: block;
      background-color: #fff;

      & * {
        color: #252525;
        font-size: 1rem;
      }
    }
  }

  &__container {
    max-width: rem(1560);
    margin-inline: auto;
    padding-inline: rem(20);
  }

  &__header {
    text-align: center;
    margin-bottom: fluid(32, 40);
    max-width: rem(1140);
    margin-inline: auto;
  }

  &__title {
    color: #0f0f0f;
    font-size: fluid(28, 44);
    font-weight: 700;
    line-height: normal;
    margin-bottom: rem(16);
  }

  &__text {
    p {
      font-size: fluid(16, 20);
      line-height: 1.4;
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(332), 1fr));
    gap: rem(32) rem(16);

    &--5 {
      grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
    }
  }

  &__item {
  }
}

.grid-card {
  height: rem(332);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:hover {
    .grid-card__content {
      opacity: 1;
      visibility: visible;
    }
  }

  &__header {
    color: #252525;
    text-align: center;
    font-size: rem(16);
    font-weight: 700;
    line-height: normal;
    padding: rem(14);
    border: rem(1) solid #f4f4f4;
    background-color: #fff;
    margin-bottom: 0;
  }

  &__body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }

  &__image {
  }

  &__content {
    z-index: 2;
    position: relative;
    transition: all 0.3s ease;
    background-color: #0f0f0f;
    height: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: fluid(16, 24);

    & * {
      font-size: rem(15);
      color: #fff;
      line-height: 1.4;
    }

    p {
      text-align: center;
    }

    ul {
      li {
        list-style: disc inside;

        &::marker {
          font-size: rem(12);
        }
      }
    }
  }
}
