@use "../helpers" as *;

.default-hero {
  padding: fluid(60, 158) 0 fluid(60, 172);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    max-width: rem(1560);
    margin-inline: auto;
    padding-inline: rem(20);
  }

  &__content {
    max-width: rem(1094);
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #0f0f0f;
    font-size: fluid(34, 80);
    font-weight: 700;
    line-height: normal;
    margin-bottom: rem(5);
  }

  &__subtitle {
    color: #fff;
    font-size: fluid(18, 24);
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: rem(24);
  }

  &__button {
    padding: rem(14) rem(40);
    background-color: #fff04b;
    color: #0f0f0f;
    font-size: rem(16);
    font-weight: 700;
    line-height: 1.125;
    text-transform: uppercase;
  }
}
