@use "../helpers" as *;

.simple-cta {
  padding-block: rem(40);
  background-color: #f4f4f4;

  &__content {
    max-width: rem(825);
    padding-inline: rem(20);
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(24);
    color: var(--Text-Main-primary-text-primary, #0f0f0f);
    font-size: fluid(18, 20);
    line-height: 1.4;
  }

  &__button {
    color: #0f0f0f;
    font-size: rem(16);
    font-weight: 700;
    line-height: 1.125;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    padding: rem(14) rem(60);
    border: 1px solid #0f0f0f;
    transition: all 0.3s ease;

    @include hover {
      background-color: #0f0f0f;
      color: #fff;
    }
  }
}
